*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#ancre{
    background-color: black;
    width: 25px;
    height: 25px;
    position: fixed;
    top: 750px;
    right: 200px;
}
#couleurchevron{
    fill: white;
}

#fondheader{
    background: #e8f3fe url("../../integration_landing/assets/bg-1.png") no-repeat fixed;
    height: 900px;
    
}

h1{
    font-weight: 900;
}

header>div{
    margin-top: 150px;
}

header p{
    line-height: 27px;
}
.call{
    font-size: 15px;
    font-weight: bold;
    width: 205px;
    color: red;
    border: 1px solid #eeddea;
    background-color: #eeddea;
}

#container{
    width: 60%;
    margin: auto;
    margin-top: -850px;
    margin-bottom: 50px;
}

input{
    background-image: url("../../integration_landing/assets/field-icon-1.png");
    background-repeat: no-repeat;
    background-position: 15px;
    text-indent: 40px;
    width: 330px;
    height: 60px;
    border-radius: 3px;
}

#sub{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #4457f7;
    position: absolute;
    top: 530px;
    left: 655px;
    border-radius: 2px;
    box-shadow: 0px 1px 8px 6px #89c4ff;
    padding: 8px;
    font-size: 12px;
}

#sub:hover{
    font-size: 18px;
}

form{
    margin-top: 50px;
}

button{
    background-color: #4457f7;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    outline-color: 4px #e1eefe;
}

#bestoff{
    margin-top: 200px;
}

#bestoff>section>article{
    background-color: white;
    display: inline-block;
    width: 45%;
    height: 300px;
    box-sizing: border-box;
    padding: 25px;
    margin: 15px;
    border-radius: 4px;
}

.duo1:hover{
    box-shadow: 10px 10px 5px 5px #f2f2f4;
}
.duo2:hover{
    box-shadow: 10px 10px 5px 5px #f2f2f4;
}

.bouton{
    text-decoration: none;
    font-weight: bold;
    color: #6c21f8;
    background-color: #eeedfe;
    padding: 5px;
    border-radius: 4px;
}

.boutonbis{
    text-decoration: none;
    font-weight: bold;
    color: #ff007f;
    background-color: #ffeaf1;
    padding: 5px;
    border-radius: 4px;
}

.duo1{
    border-top: 5px solid #6e00f8;
}
.duo2{
    border-top: 5px solid #ff007f;
}

#cible{
    text-align: center;
    margin-top:15px;
}

#abonnement{
    margin-top: 70px;
}
#abonnement>article{
    width: 30%;
    background-color: white;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    margin:12px;
}

#abonnement>article>p{
    font-size: small;
}

#center{
    border-top: 5px solid #6e00f8 ;
    box-shadow: 10px 12px 40px 15px #f2f2f4;
}

#abonnement a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #4457f7;
    box-shadow: 0px 1px 8px 6px #89c4ff;
    border-radius: 2px;
    padding: 8px;
    font-size: 12px;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #4457f7;
    box-shadow: 0px 1px 8px 6px #89c4ff;
    border-radius: 2px;
    padding: 8px;
    font-size: 12px;

}

.plan{
    color: #6c21f8;
}

.prix{
    font-size: 35px;
    font-weight: bold;
}

article>button{
    margin-left: 0;
}

footer{
    text-align: center;
    width: 100%;
    height: 555px;
    background-color: #e8f3fe ;
    padding-top: 70px;
}
#appel{
    margin: auto;
}
#action{
    font-size: 15px;
    padding: 25px;
    margin-top: 30px;
    position: absolute;
    margin-left: -100px;
}
#copy p{
    width: 60%;
    margin: auto;
    margin-top: 170px;
    margin-left: -60px;
}
#get{
    font-size:40px;
    }
p{
        color:gray;
        line-height:30px;
    }
#table{
        font-size:30px;
    }
    

