*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url(../background.jpg);
}
ul {
    display:flex;
    justify-content:right;
    margin:20px;   
}
ul li{
    padding:15px;
    list-style-type: none;
}
ul li:hover{
    background-color:#b32c28;/*les bouton devienne rouge foncer au passage de la souris*/
}
ul li a{
    color:white;
    font-size:20px;
    text-decoration: none;
}
h1{
    color:white;
    font-size:30px;
    font-family: 'dancing script';
    margin:30px;
}
#section1{
    width:80%;
    margin:auto;
    text-align: left;
    background-color: white;
    padding-left:20px;
    box-shadow: 0px -5px 30px 5px black;
    border-radius: 10px;
    padding-bottom: 100px;
}
.titre{
    color:#d4423e;
    text-align: center;
    padding-top: 55px;
    font-size: 50px;
}
h2{
    font-family: 'dancing script';
    color:#b32c28;
    font-size:40px;
    text-align: left;
}
 #section2{
    display:flex;
    justify-content:space-around;
}
figcaption{
    width:50%;
    padding:15px;
    color:white;
    text-align: center;/*pour centré un texte*/
    width:100%;
    font-size:25px;
    background-color: black;
    opacity: 0.7;
}
#section1 li{
    list-style-type:none;
    padding-left:40px
}
h4{
    color:#d4423e;
    font-family: 'dancing script';/*pour la police des titres*/
    font-size: 25px;
}
header{
    display:flex;/*pour que le flex fonctionne*/
    justify-content: space-between;
    align-items: center;
    background-color: #d4423e;
}
footer{
    background-color:#d4423e;
}
footer p{
    color:white;
    padding:30px;
    text-align: right;
    margin-bottom:-20px;
}
input{
    padding: 8px;
    opacity: 0.5;/* pour rendre opacque adresse email*/
}
button{
    background-color:#d4423e;
    padding:8px;
    border-radius: 5px 5px 5px 5px;
    width: 12%;
    color:white;
}
#carte{
    float:left;
    margin-right:50px;
}

@media screen and (max-width:768px){


}